.MovieRoot {
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    min-width: 230px;
    max-width: 230px;
    text-align: center;
    border-radius: 10px;
    color: white;

    img {
        width: 200px;
        border-radius: 10px;
    }

    svg {
        color: #FD7F20;
    }

    .VoteAverage {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .MovieDetails {
<<<<<<< HEAD
        height: 100%;
=======
        margin-bottom: 0;
        width: 100%;
>>>>>>> c31e0de1390ac30764829db2cd82d048839763b7
        padding: 5px;
        border-radius: 6px;
        background-color: #FD7F20;
        color: black;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            background-color: #bd5200;
            transition: 0.5s;
        }
    }

<<<<<<< HEAD
    .DetailsAndFavoriteButton {
        display: flex;
        gap: 10px;
        align-items: center;
    }
=======
>>>>>>> c31e0de1390ac30764829db2cd82d048839763b7
}