@font-face {
    font-family: NunitoRegular;
    src: url(../../assets/fonts/Nunito/static/Nunito-Regular.ttf);
}

.SeriesCategories {
    width: auto;

    @media (max-width: 415px) {
        display: flex;
        margin: 10px;
        align-items: center;
        justify-content: center;
    }

    .List {
        list-style-type: none;
        padding: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        @media (max-width: 415px) {
            width: 50%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 0;
            margin: 10px;
            justify-content: center;
            align-items: center;
        }

        li {
            display: flex;
            justify-content: center;
        }

        button {
            height: 2.3rem;
            width: 5rem;
            border: none;
            border-radius: 5px;
            font-family: NunitoRegular;
            cursor: pointer;
            
        }
        
        .nonActiveButton {
            background-color: #FD7F20;
            color: black;
            
            &:hover {
                background-color: #c05402;
            }
        }

        .activeButton {
            background-color: #ffffff;
            color: #708CA0;

            &:hover {
                background-color: #C0C0D0;
                color: #ffffff;
            }
        }
    }
}