.Info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 100%;
    
    .Tagline {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}